<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetare Parolă</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

    <section class="vh-100 gradient-custom">
        <div class="container py-2 h-100">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <h2 class="fw-bold mb-2 text-uppercase">Resetează parola</h2>
                        <p class="card-text py-2">{% if message %}<span class="text-danger">{{ message }}</span>{% endif %}</p>
                        <p class="card-text py-2">
                            Introduceți adresa dvs. de email și parola noua.
                        </p>
                        <form action="{{ url_for('reset_password_route') }}" method="POST">
                            <div data-mdb-input-init class="form-outline form-black">
                                <label class="form-label " for="typeEmail">Adresa de email</label>
                                <input type="email" id="typeEmail" name="email" class="form-control my-3" required />
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Resetare parolă</button>
                        </form>
                        <div class="d-flex justify-content-between mt-4">
                            <p class="text-black "> <a href="{{ url_for('login') }}" class="text-black-50 fw-bold">Autentificare</a></p>
                            <p class="text-black"> <a href="{{ url_for('register') }}" class="text-black-50 fw-bold">Înregistrare</a></p>
                        </div>
                    </div>              
                </div>
            </div>
        </div>
    </section>
    
        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <span class="text-center">&copy; 2024 ALEXFREIGHTDISPATCH</span>
            </div>
        </footer>
    
</body>
</html>
