.gradient-custom {
    background: linear-gradient(90deg, rgb(0, 7, 44) 0%, rgba(255, 255, 255, 0.1) 35%, rgba(255, 255, 255, 0.2) 100%) !important; 
   
  }
  
  .card {
    border: none;
    background: transparent; 
  }
  
  .bg-primary {
    border-bottom: none;
    background: rgba(255, 255, 255, 0.5); 
  }
  
  .card-body {
    background: rgba(0, 0, 0, 0.3); 
  }
  
  .btn-primary {
    background-color: #2b445f; 
    border-color: #007bff; 
  }
  
  .btn-primary:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
  }
  
  .btn-outline-light {
    color: #000;
    border-color: #000;
}
